#header{
    width: 100%;
    height: 200px;
    background-color:darkred;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    margin-left: 10px;
    margin-right: 10px;    
}

#container{
    /* wih displayflex, the cards are side by side*/
    display:flex;
    justify-content: center;
    width: 100%;
    height: 500px;
    background-image: url("backimg3.jpg");
}

#btn{
    height:50px;
}

body{
    background-image: url("backimg3.jpg");
    background-size:cover;
    background-repeat:no-repeat;
}

.card{
    background-color: white;
    width: 270px;
    height: 400px;
    margin:10px;
    border-radius: 15px;
    color:black;
}

.card:hover{
    background-color: grey;
    color:white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}

.card-image{
    background-color: grey;
    height: 170px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;

}

.card-1{
    background-image: url(tree.png);
}

#footer{
    width: 100%;
    height: 70px;
    background-color: pink;
}

.card p{
    padding: 10px;
}

.card a{
    background-color: navy;
    color:white;
    padding: 10px 15px;
    display:block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
    bottom:0;
}

h1{

    text-align: center;
    font-size: 50px;
    padding-top: 40px;
}

#title{
    padding: 10px;
}

#description{
    padding: 10px;
}

#fname{
    padding: 10px;
}

#lname{
    padding: 10px;
}

#rin{
    padding: 10px;
}

#email{
    padding: 10px;
}

#image{
    padding: 10px;
}

#lost{
    padding: 10px;
}

#found{
    padding: 10px;
}

#submitbtn{
    justify-content: center;
}

#txtArea{
    margin-left: 10px;
}

#case_option{
    padding: 10px;
}